<div class="row">
  <div class="col-6">
    <h2 class="h2">Ingresar producto</h2>
    <br>
    <form id="add_product_form" class="mb-5">
      <div class="mb-3">
        <label for="title" class="form-label">Nombre</label>
        <input type="text" name="title" class="form-control" id="product_title">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input type="number" step="0.01" name="price" class="form-control" id="product_price">
      </div>
      <div class="mb-3">
        <label for="thumbnail" class="form-label">Foto URL</label>
        <input type="text" name="thumbnail" class="form-control" id="product_thumbnail">
      </div>
      
      <button type="submit" class="btn btn-primary" id="submit_button">Enviar</button>
    </form>

    {{#if items}}
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Foto</th>
        </tr>
      </thead>
      <tbody id="items_tbody">
        {{#each items}}
        <tr>
          <td class="align-middle">{{ this.title }}</td>
          <td class="align-middle">${{ this.price }}</td>
          <td><img src="{{ this.thumbnail }}" class="product-img"></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <div class="card text-dark bg-warning">
      <div class="card-body">
        <p class="card-text">No se encontraron productos</p>
      </div>
    </div>
    {{/if}}
  </div>
  <div class="col-6">
    <h2 class="h2">Chat</h2>
    <br>
    <form id="chat_form">
      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" id="message" placeholder="Ingresá tu mensaje...">
        </div>
        <div class="col-auto">
          <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
      </div>
    </form>
    <div id="chats">
      {{#each chat}}
      <div>
        <span class="text-primary fw-bold">{{ this.email }}</span> [<span class="text-danger">{{ this.date }}</span>] : <span class="text-success fst-italic">{{ this.message }}</span>
      </div>
      {{/each}}
    </div>
  </div>
</div>